<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= data.title %></title>
    </head>
    <body>
        
        <h2><%= data.title %> の詳細</h2>
        
        <table border="1">
            <tr><th>項目</th><th>データ</th></tr>
            <tr><td>ID</td><td><%= data.id %></td></tr>
            <tr><td>書籍No</td><td><%= data.no %></td></tr>
            <tr><td>書名</td><td><%= data.title %></td></tr>
            <tr><td>出版社</td><td><%= data.publisher %></td></tr>
            <tr><td>販売価格</td><td><%= data.price %></td></tr>
        </table>
        <br>
        
        <a href="/book1">教科書一覧へ戻る</a>
    </body>
</html>
