<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>教科書一覧</title>
  </head>
  <body>
    <h2>教科書一覧</h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>書籍No</th>
        <th>書名</th>
        <th>出版社</th>
        <th>販売価格</th>
      </tr>
      
      <% let number = 0; %>
      <% for(let row of data){ %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.no %></td>
          <td><a href="/book1/<%= number %>"><%= row.title %></a></td>
          <td><%= row.publisher %></td>
          <td><%= row.price %></td>
        </tr>
        <% number++; %>
        <% } %>
      
      </table>
    </body>
</html>
