<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"><title><%= data.title %></title></head>
    <body>
        
        <h2><%= data.title %> ― 詳細</h2>

        <table border="1">
            <tr><td>タイトル</td><td><%= data.title %></td></tr>
            <tr><td>ジャンル</td><td><%= data.genre %></td></tr>
            <tr><td>上映時間</td><td><%= data.duration %></td></tr>
            <tr><td>レーティング</td><td><%= data.rating %></td></tr>
            <tr><td>上映情報</td><td><%= data.showInfo %></td></tr>
            <tr><td>料金</td><td>¥<%= data.price %></td></tr>
        </table>
        
        <a href="/movies">一覧に戻る</a>
    </body>
</html>
